[submodule "microcontroller-ws"]
	path = microcontroller-ws
	url = https://github.com/RRST-NHK-Project/microcontroller-ws.git
[submodule "kicad-ws"]
	path = kicad-ws
	url = https://github.com/RRST-NHK-Project/kicad-ws.git
