[submodule "microcontroller-ws"]
	path = microcontroller-ws
	url = git@github.com:RRST-NHK-Project/microcontroller-ws.git
[submodule "serial_bridge"]
	path = serial_bridge
	url = git@github.com:RRST-NHK-Project/serial_bridge.git
[submodule "rrst-console"]
	path = rrst-console
	url = git@github.com:RRST-NHK-Project/rrst-console.git
[submodule "ros2can"]
	path = ros2can
	url = git@github.com:RRST-NHK-Project/ros2can.git
